/* @media (min-width: 320px) and (max-width: 480px) {
    
  }
@media (min-width: 481px) and (max-width: 768px) {
   
  } */



@media (max-width:1020px) {

  .header-container {
    flex-direction: column;
  }

  header .header-container .header-content div {
    margin: 30px;
  }

  header .header-container .header-content {
    align-items: center;
  }

  .menu-container {
    display: none;
  }

}